Flask==3.1.3
Flask-Limiter==4.1.1
scrapling==0.4.3
playwright==1.58.0
patchright==1.58.2
curl_cffi==0.15.0
browserforge==1.2.4
beautifulsoup4==4.14.3
lxml==6.0.2
google-generativeai==0.8.6
google-genai==1.67.0
psycopg2-binary==2.9.11
openpyxl==3.1.5
python-dotenv==1.2.2
gunicorn==25.3.0
colorama==0.4.6
